p{
    margin-bottom: 0;
}
.wrapper {
    padding: 20px;
}

.wrapper .wrapper_title{
    text-align: center;
    padding-bottom: 10px;
}
.wrapper .wrapper_title .topTitle{
    text-decoration: underline;
}
.wrapper .wrapper_title .taxpayers_topTitle{
    font-size: 20px;
}
.wrapper .wrapper_title .taxpayers_title{
    display: inline-block;
    border: 1px solid ;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0;
}

.wrapper .wrapper_title p{
    font-weight: bold;
}
.wrapper .wrapper_title .regular{
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}

.wrapper .housePropertyIncome_part {
    margin: 40px 0;
}
.wrapper .schedule_part{
    margin-top: 40px;
}


.wrapper .category_name_part, .schedule_part, .form_bottomTable_part{
    align-items: end;
}


.wrapper .headsOfIncome_table , .detailsOfIncome_table{
    margin-top: 20px;
}